body{
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}
span{
    color: #8908d9;
    font-weight: bold;
}
h1,h2,h3{
    color: #0056d6;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
header{
    background: #f4f4f4;
    text-align: center;
    padding: 50px 0;
}
header h1{
    font-size: 2.5rem;
}
header p{
    margin: 10px 0 20px;
}
header .btn{
    display: inline-block;
    text-decoration: none;
    background:#8908d9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}
header .btn:hover{
    background-color: #003a92;
}
/*about*/
#about{
    background: #fff;
}
#about ul{
    list-style: none;
    padding: 0;
}
#about ul li{
    margin: 10px 0;
}
/*portfolio*/
#portfolio .projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project-card{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: calc(50%-10px);
}
.project-card img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.project-card img:hover{
    transform: scale(1.05);
}
.project-card h3{
    margin: 10px 0;
}
#contact form{
    display: flex;
    flex-direction: column;
}
#contact input,#contact textarea{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#contact .btn{
    width: 100px;
    align-self: flex-start;
    background: #0056d6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
footer{
    text-align: center;
    padding: 10px;
    background: #dedddd;
    color: #525050;
}